.features {
  position: relative;
  z-index: 20;
  margin-bottom: rem(70);
  &__row {
    display: flex;
    margin-bottom: rem(32);
  }
  &__card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: rem(48) 2rem;
    background-color: var(--bg-features-card);
    box-shadow: 0px 8px 48px 0px hsla(0, 0%, 0%, 0.08);
    min-height: rem(400);
  }
  &__info {
    flex: 1;
    @include df;
    text-align: center;
    flex-direction: column;
  }
  &__descr {
    flex: 1;
  }
  &__card-icon {
    display: grid;
    place-items: center;
    position: relative;
    padding: 4px;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-bottom: rem(35);
    img {
      width: rem(120);
      height: rem(120);
    }
  }
  &__card-name {
    font-size: rem(24);
    font-weight: 600;
    font-family: var(--ff-lora);
    margin-bottom: rem(8);
  }
  &__nav {
    @include df;
    justify-content: flex-end;
    grid-gap: rem(8);
  }
  &__arrow {
    outline: none;
    cursor: pointer;
    width: rem(40);
    height: rem(40);
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    background-color: rgba(255, 255, 255, 0.04);
    transition: 200ms ease;
    &:hover {
      transform: scale(1.04);
    }
  }
}

@include max-width($tabletMq) {
  .features {
    &__nav {
      justify-content: center;
      grid-gap: 1.5rem;
    }
  }
}

@include max-width($mobMq) {
  .features {
    margin-bottom: rem(50);
    &__card {
      min-height: rem(350);
      padding: 3rem 1.5rem;
    }
    &__descr {
      max-width: rem(260);
    }
  }
}
