.menu {
  position: fixed;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: rem(275);
  background-color: var(--bg-body);
  z-index: 1000;
  border-left: 1px solid rgba(255, 255, 255, .3);
  transition: 400ms ease 400ms;
  transform: translateX(100%);
  visibility: hidden;
  &__close {
    position: absolute;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    top: 1rem;
    &::before {
    position: absolute;
    left: 15px;
    content: "";
    height: 33px;
    width: 3px;
    background-color: rgba(255,255,255,1);
    border-radius: 5px;
    transform: rotate(45deg);
    }
    &::after {
    position: absolute;
    left: 15px;
    content: "";
    height: 33px;
    width: 3px;
    background-color: rgba(255,255,255,1);
    border-radius: 5px;
    transform: rotate(-45deg);
    }
  }
  &__container {
    padding: rem(20);
  }
  &__inner {
    padding-top: rem(60);
  }
  .header__options {
    display: flex;
    position: initial;
    transform: translate(0);
    & > * {
      flex: 1;
    }
  }
  .header__login {
    display: block;
    text-align: center;
  }
}

.menu-nav {
  margin-bottom: 2.5rem;
  &__list {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
  }
  &__link {
    font-weight: 500;
    font-size: rem(20);
  }
}

.show-menu {
  visibility: visible;
  transform: translateX(0);
}
