.news {
  position: relative;
  z-index: 10;
  &__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem rem(24);
    margin-bottom: 2rem;
  }
  &__row-block {
    min-height: rem(480);
    width: 100%;
    padding: rem(45) 2rem;
    display: grid;
    align-items: flex-end;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 200ms ease;
    filter: brightness(82.5%);
    &:hover {
      filter: brightness(100%);
    }
    &::after {
      @include psevdo;
      left: 0;
      bottom: 0;
      background: var(--card-fade);
      width: 100%;
      height: 40%;
      z-index: 5;
    }
    &_large {
      grid-column: span 2;
    }
    &:nth-child(1) {
      background-image: url('../../img/news-section/news-image-1.png');
    }
    &:nth-child(2) {
      background-image: url('../../img/news-section/news-image-2.png');
    }
    &:nth-child(3) {
      background-image: url('../../img/news-section/news-image-3.png');
    }
    &:nth-child(4) {
      background-image: url('../../img/news-section/news-image-2.png');
    }
    &:nth-child(5) {
      background-image: url('../../img/news-section/news-image-1.png');
    }
    &:nth-child(6) {
      background-image: url('../../img/news-section/news-image-2.png');
    }
  }
  &__row-info {
    position: relative;
    z-index: 10;
  }
  &__row-info-heading {
    color: var(--news-card-heading);
    font-size: rem(14);
    margin-bottom: rem(8);
  }
  &__row-info-descr {
    p {
      color: var(--clr-light-400);
      font-size: rem(24);
      @include max-width($tabletMq) {
        font-size: rem(20);
      }
      @include max-width($mobMq) {
        font-size: rem(18);
      }
    }
  }
  &__show-more {
    margin-left: auto;
    text-align: center;
    @include df;
    background: rgba(255, 255, 255, 0.04);
    letter-spacing: var(--ls);
    font-weight: 500;
    padding: rem(8) 1rem;
    color: hsla(228, 3%, 68%, 1);
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    transition: 200ms ease;
    &_full {
      width: 100%;
      text-align: center;
      display: grid;
      place-items: center;
      padding: 1.5rem;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid hsla(0, 0%, 100%, 0.5);
      color: #fff;
    }
  }
}

@include max-width($tabletMq) {
  .news {
    &__show-more {
      margin: 0 auto;
    }
    &__row {
      grid-gap: rem(10);
    }
    &__row-block {
      min-height: rem(350);
      padding: rem(20);
      background-size: cover;
      background-position: top;
      grid-column: span 2;
      &:hover {
        background-size: cover;
      }
      &_full {
        grid-column: span 4;
        background-position: top;
      }
    }
  }
}


@include max-width($mobMq) {
  .news {
    &__row-info-descr {
      p {
        white-space: nowrap;
        overflow: hidden;
        display: block;
        max-width: 11.25rem;
        text-overflow: ellipsis;
      }
    }
    &__show-more {
      padding: 1rem;
    }
    &__row-block {
      min-height: rem(300);
      &:nth-child(3) {
        background-position: top;
      }
      &::after {
        height: rem(200);
      }
    }
  }
}

@include max-width($smallMobMq) {
  .news {
    &__row-block {
      padding: 1.25rem 0.625rem;
    }
  }
}

@include max-width(25em) {
  .news {
    &__row-block {
      grid-column: span 4;
    }
  }
}

.news-body {
  background-image: url('../../img/news-section/bg-news-page.png');
  background-position: top left;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.top-wrapper {
  position: relative;
  padding-bottom: 1.25rem;
  & > section {
    position: relative;
    z-index: 5;
  }
  .community {
    margin-bottom: 0;
  }
  &::after {
    @include psevdo;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    transform: scaleY(-1);
    background: linear-gradient(180deg, rgba(13, 14, 14, 1) 0%, rgba(13, 14, 14, .5) 100%);
  }
}


