.footer {
  background: var(--bg-footer);
  &__body {
    padding: rem(48) 0 2rem;
    display: flex;
    flex-direction: column;
    grid-gap: rem(22);
    & > * {
      color: var(--clr-light-300);
    }
  }
  &__top {
    padding-bottom: rem(50);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
  }
  &__row {
    @include df;
    justify-content: space-between;
  }
  &__logos {
    @include df;
    grid-gap: rem(35);
  }
  &__copy {
    text-align: center;
  }
}

.footer-nav {
  max-width: rem(564);
  margin: 0 auto;
  &__list {
    @include df;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 2rem;
  }
  &__link {
    transition: 300ms ease;
    &:hover {
      color: var(--clr-light-400);
    }
  }
}

@include max-width($tabletMq) {
  .footer-nav {
    &__link {
      font-size: rem(14);
    }
  }
}

@include max-width($mobMq) {
  .footer {
    &__body {
      grid-gap: rem(35);
    }
    &__logos {
      grid-gap: 1rem;
    }
    &__top {
      padding-bottom: rem(30);
    }
    &__row {
      flex-direction: column;
      grid-gap: 1rem;
    }
  }
}
